{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": true
        }
      },
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator",
  ],
}
